<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="width: 500px; margin-top: 50px">

        <h1><small>Storage of </small><%= user.getPseudo() %></h1>
        <% files.forEach(function(file){ %>
            <div>
                <% if(file.stats.isDirectory()) { %>
                <a href="<%= path %>/<%= file.name %>">
                <% } %>
                <h4 style="margin-bottom: 0px;"><%= file.name %></h4>
                <% if(file.stats.isDirectory()) { %>
                </a>
                <% } %>
                <%= file.stats.ctime %>
                <strong>
                <% if(file.stats.isFile()) { %>
                    File
                <% } else if(file.stats.isDirectory()) { %>
                    Directory
                <% } %>
                </strong>
            </div>
        <% }); %>
    </div>
</body>
</html>