<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container" style="width: 700px; margin-top: 50px">
        <% if (user) { %>
        <a class="btn btn-default pull-right" href="/logout" role="button" style="margin-left: 8px"><i class="fa fa-sign-out" style="font-size: 18px; color:rgba(231,76,60,1.0)"></i></a>
        <a class="btn btn-default pull-right" href="#" role="button">Add Repo</a>
        <% } else { %>
        <a class="btn btn-default pull-right" href="/login" role="button" style="margin-left: 5px;">Connexion</a>
        <a class="btn btn-default pull-right" href="/signin" role="button">Inscription</a>
        <% } %> 

        <h1 style="margin-top: 0px">Supa Storage</h1>
        <hr>
        <% directories.forEach(function(directory){ %>
            <div>
                <a href="<%= directory.urlDl %>">
                    <span class="pull-right"><i class="fa fa-cloud-download fa-2x"></i></span>
                </a>
                <a href="<%= directory.url %>">
                <h4 style="margin-bottom: 0px;"><%= directory.name %></h4>
                </a>
                Créé il y a <%= directory.time.hours %> heure, <%= directory.time.minutes %> minutes et <%= directory.time.secondes %> secondes
            </div>
            <hr>
        <% }); %>
    </div>
</body>
</html>