<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container" style="width: 700px; margin-top: 50px">
        <form id        =  "uploadForm"
             enctype   =  "multipart/form-data"
             action    =  "/upload"
             method    =  "post"
        >
        <input type="file" name="userPhoto" />
        <input type="hidden" name="path" value="<%= storage.getFullPath() %>" />
        <input type="submit" value="Upload Image" name="submit">
        </form>
        <a class="btn btn-default pull-right" href="#" role="button">Add File</a>
        <h1><small>Storage of </small><%= storage.getName() %></h1>
        <a href="<%= storage.getUrl() %>"><%= storage.getName() %></a><% breadcrumbs.forEach(function(breadcrumb){ %>/<a href="<%= breadcrumb.url %>"><%= breadcrumb.name %></a><% }); %>
        <hr style="margin-top: 0px;">
        <% files.forEach(function(file){ %>
            <div>
                <a href="<%= file.urlDl %>">
                    <span class="pull-right"><i class="fa fa-cloud-download fa-2x"></i></span>
                </a>
                <a href="<%= file.url %>">
                <h4 style="margin-bottom: 0px;"><i class="fa fa-<%= file.mime %>"></i> <%= file.name %></h4>
                </a>
                <%= file.stats.ctime.getDate() %>/<%= file.stats.ctime.getMonth()+1 %>/<%= file.stats.ctime.getFullYear() %> à <%= file.stats.ctime.getSeconds() %>:<%= file.stats.ctime.getMinutes() %>:<%= file.stats.ctime.getHours() %>
            </div>
        <% }); %>
    </div>
</body>
</html>